@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 2px;
}

* {
    box-sizing: border-box;
}

li, a, h5, p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #949eb2;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32px;
    padding-left: 32px;
}

aside {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    color: #778298;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15%;
}

footer {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    color: #778298;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15%;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    text-decoration: underline;
}

.col, .col-right {
    box-sizing: border-box;
}

.col {
    float: left;
}

.col-12 {
    width: 100%;
}

.button {
    display: inline-block;
    line-height:  18px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    box-shadow: 0 0 1px 0 rgb(56 64 79 / 30%), 0 2px 5px 0 rgb(9 24 54 / 30%), 0 2px 5px 0 rgb(9 24 54 / 30%);;
}

.form {
    border: none;
    padding: 14px 18px !important;
    min-width: 180px;
}

.shadow {
    box-shadow: 0 0 1px 0 rgb(56 64 79 / 30%), 0 2px 5px 0 rgb(9 24 54 / 30%), 0 2px 5px 0 rgb(9 24 54 / 30%);;

}

.border-rd {
    border-radius: 3px;
}

.border-rd-left {
    border-radius: 3px 0 0 3px;
}

.border-rd-right {
    border-radius: 0 3px 3px 0;
}

.py128 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.py64 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.py16 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.px64 {
    padding-left: 32px;
    padding-right: 32px;
}

.px32 {
    padding-left: 16px;
    padding-right: 16px;
}

.p32 {
    padding: 32px;
}

.p20 {
    padding: 0px 20px;
}

.m32 {
    margin-right: 32px;
    margin-left: 32px;
}

.mr8 {
    margin-right: 8px;
}

.mr16 {
    margin-right: 16px;
}

.mr32 {
    margin-right: 32px;
}

.mb64 {
    margin-bottom: 64px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb16 {
    margin-bottom: 16px;
}

.md-col-9 {
    width: 75%;
}

.bg-gray {
    background-color: rgb(233, 236, 239);
}

.bg-green {
    background-color: #65d777;
}

.bg-white {
    background-color: #fff;
}

.bg-light-gray {
    background: #F3F4F6;
}

.dark-blue {
    color: #091836;
}

.dark-gray {
    color: #38404F;
}


.gray {
    color: #778298;
}

.red {
    color: #DE3F1C;
}

.fs32 {
    font-size: 32px;
}

.fs26 {
    font-size: 26px;
}

.fs22 {
    font-size: 22px;
}

.fs18 {
    font-size: 18px;
}

.serif {
    font-family: "source-serif-pro";;
    
}

.flex-auto {
    flex: 1 1 auto;
}


