@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    padding: 0.1em;
    justify-items: stretch;
    align-items: stretch;
    height: 100vh;

}


.merah{
    background-color: #e06666;
}
.jingga{
    background-color: #ffc800;
}
.hijau{
    background-color: #00a15d;
}
.ungu{
    background-color: #8e7cc3;
}
.pink{
    background-color: #ff9fd5;
}
.hijaumuda{
    background-color: #fed849;
}
.biru{
    background-color: #00a15d;
}
.kuning{
    background-color: #ffff00;
}
.birutua{
    background-color: #3d85c6;
}

.fkuning{
    color : #ffc800;
}

.tengah{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.box1 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
}
.box2 {
    grid-row-start: 1;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
}
.box3 {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-column-end: 5;
}
.box4 {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
}
.box5 {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}
.box6 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 3;
}
.box7 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 8;
}
.box8 {
    grid-row-start: 4;
    grid-row-end: 8;
    grid-column-start: 1;
}
.box9 {
    grid-row-start: 5;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 4;
}
